{
	auto_https disable_redirects
}

https://{$SYNC_PUBLIC_HOST} {
	tls {
		issuer acme https://acme-v02.api.letsencrypt.org/directory {
			profile shortlived
			disable_http_challenge
		}
	}
	request_body {
		max_size 30MB
	}
	reverse_proxy resume-sync:8787
}
